<div>
    <h2>Edit Menu</h2>

    <div *ngIf="userData.role == 'TECH'">
        <label>user Name:
            <input [(ngModel)]="userData.name" placeholder="user Name" />
        </label><br>
        <label>user address:
            <input [(ngModel)]="userData.address" placeholder="address" />
        </label><br>
        <label>user age:
            <input [(ngModel)]="userData.age" placeholder="age" />
        </label><br>
        <label>email:
            <input [(ngModel)]="userData.email" placeholder="email" />
        </label><br>
        <label>password:
            <input [(ngModel)]="userData.password" value="" />
        </label><br>
        <label>phone number:
            <input [(ngModel)]="userData.phoneNumber" placeholder="phoneNumber" />
        </label><br>
        <label>idCard:
            <input [(ngModel)]="userData.idCard" placeholder="idCard" />
        </label><br>

    </div>

    <div *ngIf="ExtUserData.role == 'EXT'">
        <label>user Name:
            <input [(ngModel)]="ExtUserData.name" placeholder="user Name" />
        </label><br>
        <label>user address:
            <input [(ngModel)]="ExtUserData.address" placeholder="address" />
        </label><br>
        <label>user age:
            <input [(ngModel)]="ExtUserData.age" placeholder="age" />
        </label><br>
        <label>email:
            <input [(ngModel)]="ExtUserData.email" placeholder="email" />
        </label><br>
        <label>password:
            <input [(ngModel)]="ExtUserData.password" value="" />
        </label><br>
        <label>phone number:
            <input [(ngModel)]="ExtUserData.phoneNumber" placeholder="phoneNumber" />
        </label><br>
        <label>idCard:
            <input [(ngModel)]="ExtUserData.idCard" placeholder="idCard" />
        </label><br>

        <div>
            <label>User status:</label><br>
            <input type="radio" id="infected" name="infected" [(ngModel)]="ExtUserData.infected" value="true">
            <label for="infected">Infected</label><br>
            <input type="radio" id="nonInfected" name="nonInfected" [(ngModel)]="ExtUserData.infected" value="false">
            <label for="nonInfected">Healthy</label><br>
        </div>

        <div class="list">
            <mat-grid-list cols="4" rowHeight="50px">
                <ng-container *ngFor="let covtest of ExtUserData.covtest; index as i">
                    <mat-grid-tile>{{covtest.code}}</mat-grid-tile>
                    <mat-grid-tile><button (click)="TestDetails(covtest.code)">Test Details</button></mat-grid-tile>
                    <mat-grid-tile><button (click)="RemoveTest(covtest._id, ExtUserData.idCard)">Remove Test from
                            user</button></mat-grid-tile>
                    <mat-grid-tile type="date">{{ covtest.schedule | date :  "dd/MM/y"}}</mat-grid-tile>
                </ng-container>
            </mat-grid-list>
        </div>

    </div>

    <button (click)="update()">Update changes</button>
    <button (click)="Back()">Back to profile</button>

</div>