<h1>Profile details</h1>
<div *ngIf="user">
    
    <p>name: {{user.name}}</p>
    <p>age: {{user.age}}</p>
    <p>phoneNumber: {{user.phoneNumber}}</p>
    <p>email: {{user.email}}</p>
    <p>address: {{user.address}}</p>
    <p>Role: {{user.role}}</p>
    <p>idCard: {{user.idCard}}</p>

    <div *ngIf="user.role==='EXT'">
        <p *ngIf="user.infected; else elseContent; ">Status: Infected</p>
        <ng-template #elseContent>Status: Healthy</ng-template>

        <button (click)="usrMng()">External Management</button>
    </div>

    <button (click)="edit(user.idCard)">Edit this user</button>

    <button *ngIf="user.role==='TECH'" (click)="usrMng()">Tech Management</button>

</div>