<mat-card class="top">
    <label *ngIf="role=='TECH'">Criar novo utente</label>
    <label *ngIf="role=='ADM'">Criar novo técnico</label>
</mat-card>

<div>
    <div id="userForm">
        <mat-card id="userFormCard">

            <diV>
                <mat-form-field>
                    <mat-label>Nome</mat-label>
                    <input matInput [(ngModel)]="userData.name"/>
                </mat-form-field>

                <mat-form-field id="inputLeft">
                    <mat-label>Morada</mat-label>
                    <input matInput [(ngModel)]="userData.address" />
                </mat-form-field>
            </diV>

            <div>
                <mat-form-field>
                    <mat-label>Idade</mat-label>
                    <input matInput type="number" maxlength="3" min="0" max="100" [(ngModel)]="userData.age" />
                </mat-form-field>


                <mat-form-field id="inputLeft" class="example-full-width">
                    <mat-label>E-mail</mat-label>
                    <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                        [(ngModel)]="userData.email">
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Introduza um e-mail válido Ex: pat@example.com
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                        E-mail é <strong>Necessário</strong>
                    </mat-error>
                </mat-form-field>

            </div>

            <div>

                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="password" [(ngModel)]="userData.password" />
                </mat-form-field>

                <mat-form-field id="inputLeft">
                    <mat-label>Número de telemóvel</mat-label>
                    <input matInput [(ngModel)]="userData.phoneNumber" />
                </mat-form-field>
            </div>
            <div>

                <mat-form-field>
                    <mat-label>idCard</mat-label>
                    <input matInput type="number" min="0" [(ngModel)]="userData.idCard" />
                </mat-form-field>

                <button id="inputLeft" mat-raised-button (click)="addUser()">Submeter</button>

            </div>

            <button mat-raised-button *ngIf="role=='TECH'" (click)="Back()">Gestão de utentes</button>
            <button mat-raised-button *ngIf="role=='ADM'" (click)="Back()">Gestão de técnicos</button>

        </mat-card>
    </div>


</div>
