<h1>Profile details</h1>

<p>name: {{user.name}}</p>
<p>age: {{user.age}}</p>
<p>phoneNumber: {{user.phoneNumber}}</p>
<p>email: {{user.email}}</p>
<p>address: {{user.address}}</p>
<p>Role: {{user.role}}</p>
<p>idCard: {{user.idCard}}</p>

<div *ngIf="user.role==='EXT'">
    <p *ngIf="user.infected == true; else elseBlock">Status: Infected</p>
    <ng-template #elseBlock>Status: Suspect</ng-template>
</div>

<button (click)="edit(user.idCard)">Edit this user</button>
<button (click)="TechMng()">Tech Management</button>