<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>

<body>
    <h1>Log In</h1>

    <form method="post" id="form1">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <button type="submit" form="form1" value="Submit">Submit</button>
    </form>

    <script src="/js/login.js"></script>
</body>

</html>