.top
    display: flex
    border-radius: 0px
    margin-top: 0px
    margin-bottom: 5px
    padding: 5px
    justify-content: space-between
    //box-sizing: border-box

    .mat-icon-button
        .mat-icon
            padding-bottom: 2%

    #title
        margin-top: 10px


h1
    text-align: center
