<h1>Test details</h1>
<div *ngIf="covtest">

    <p>code: {{ covtest.code }}</p>
    <p>description: {{ covtest.description }}</p>
    <p>userHistory: {{ covtest.userHistory }}</p>
    <p>riskGroup: {{ covtest.riskGroup }}</p>
    <p>userStatus: {{ covtest.userStatus }}</p>
    <p>riskJob: {{ covtest.riskJob }}</p>
    <p>testStatus: {{ covtest.testStatus }}</p>
    <p>testResult: {{ covtest.testResult }}</p>
    <p type="date">schedule: {{ covtest.schedule | date :  "dd/MM/y"}}</p>
    <p>saude24: {{ covtest.saude24 }}</p>
    <div *ngIf="covtest.user">
        <p>user: {{ covtest.user.name }}</p>
    </div>

    <div *ngIf="role=='TECH'">
        <button (click)="edit(covtest.code)">Edit</button>
    </div>
    

    <button (click)="Back()">Back to Dashboard</button>

    <button (click)="download(covtest.code)"> Download File </button>

</div>