<mat-card class="top" *ngIf="covtest">
    <label id="title"> Teste - {{ covtest.code }} </label>
</mat-card>

<div id="TestDetail" *ngIf="covtest">
    <mat-card>
        <p>Código: {{ covtest.code }}</p>
        <p>Descrição: {{ covtest.description }}</p>
        <p>Histórico do Utilizador: {{ covtest.userHistory }} </p>
        <p *ngIf="covtest.riskGroup == 'no'">Grupo de risco: Não</p>
        <p *ngIf="covtest.riskGroup == 'yes'">Grupo de risco: Sim</p>
        <p *ngIf="covtest.riskGroup == 'yes'">Trabalho de risco: Sim</p>
        <p *ngIf="covtest.riskGroup == 'no'">Trabalho de risco: Não</p>
        <p>Estado do utente: {{ covtest.userStatus }}</p>
        <p *ngIf="covtest.testStatus == 'pending'">Estado do teste: Aguarda análise</p>
        <p *ngIf="covtest.testStatus == 'done'">Estado do teste: Concluído</p>
        <p *ngIf="covtest.testResult == 'positive'">Resultado do teste: Positivo</p>
        <p *ngIf="covtest.testResult == 'negative'">Resultado do teste: Negativo</p>

        <p type="date" *ngIf="covtest.schedule != undefined" >Dia do teste: {{ covtest.schedule | date :  "dd/MM/y"}}</p>
        <p type="date" *ngIf="covtest.schedule === undefined" >Dia do teste: Aguarda agendamento</p>

        <p *ngIf="covtest.saude24 == true; else elseBlock">Encaminhado pela saúde 24: Sim</p>
        <ng-template #elseBlock>
            <p>Encaminhado pela saúde 24: Não</p>
        </ng-template>

        <div *ngIf="covtest.user">
            <p>Utente: {{ covtest.user.name }}</p>
        </div>

        <div *ngIf="role=='TECH'">
            <button id="edit" mat-raised-button (click)="edit(covtest.code)">Editar</button>
        </div>

        <button mat-raised-button (click)="download(covtest.code)"> Tranferir relatório </button>

        <button id="BackButton" mat-raised-button (click)="Back()">Dashboard</button>
    </mat-card>
</div>
