<div class="jumbotron text-center">
    <h1>Covid Test CRUD APP</h1>
    <p class="lead">Welcome to our costum CRUD MEAN app from scratch</p>
    <div>
        <a class="btn btn-primary" [routerLink]="['/register']">Registrar </a>
        
        <a class="btn btn-default" [routerLink]="['/login']"> Login</a>
    </div>   
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Express BackEnd</h3>
        <p>Arock Solid Node.js/Express server using Mongoose</p>
    </div>
    <div class="col-md-4">
        <h3>Express BackEnd</h3>
        <p>Arock Solid Node.js/Express server using Mongoose</p>
    </div>
    <div class="col-md-4">
        <h3>Express BackEnd</h3>
        <p>Arock Solid Node.js/Express server using Mongoose</p>
    </div>
</div>