<form id="query">

    <mat-form-field appearance="fill">
        <mat-label>Obter testes por ID de utilizador</mat-label>
        <input matInput [(ngModel)]="userid" name="userid" placeholder="userid" required>
    </mat-form-field>

    <button type="submit" form="query" value="Submit" (click)="getUserTests()">Submit</button><br>

    <button (click)="getPositiveTests()">Obter testes positivos</button><br>
    <button (click)="getNegativeTests()">Obter testes negativos</button><br>
    <button (click)="getPendingTests()">Obter testes em espera</button><br>
    <button (click)="getTotalTests()">Obter testes</button><br>


</form>

<div class="list">
    <mat-grid-list cols="3" rowHeight="50px">
        <ng-container *ngFor="let covtest of covtests; index as i">
            <mat-grid-tile>{{covtest.code}}</mat-grid-tile>
            <mat-grid-tile><button (click)="TestDetails( covtest.code )">Test Details</button></mat-grid-tile>
            <mat-grid-tile type="date">{{ covtest.schedule | date :  "dd/MM/y"}}</mat-grid-tile>
        </ng-container>
    </mat-grid-list>
</div>