<mat-card class="top">
    <label id="title">Perfil de {{user.name}}</label>
</mat-card>

<div id="Profile">
    <mat-card>
        <p *ngIf="user.role==='ADM'">Cargo: Administrador</p>
        <p *ngIf="user.role==='TECH'">Cargo: Técnico</p>
        <p *ngIf="user.role==='EXT'">Cargo: Utente</p>

        <p>email: {{user.email}}</p>

        <div *ngIf="user.role==='EXT' || user.role==='TECH'">
            <p>Morada: {{user.address}}</p>
            <p>Idade: {{user.age}}</p>
            <p>Número de telemóvel: {{user.phoneNumber}}</p>

        </div>
        <p>idCard: {{user.idCard}}</p>
        <div *ngIf="user.role==='EXT'">
            <p *ngIf="user.infected == true; else elseBlock">Estado: infetado</p>
            <ng-template #elseBlock>
                <p>Estado: saudável</p>
            </ng-template>
        </div>


        <div *ngIf="user.role==='ADM'">
            <p>Mudar a Password:</p>
            <mat-form-field id="pass" appearance="fill">
                <mat-label color="primary">Password Nova</mat-label>
                <input matInput [(ngModel)]="password" name="password" type="password" placeholder="new passwrod"
                    required>
            </mat-form-field><br>
            <button id="submit" mat-raised-button (click)="changePass()">submeter</button>
        </div>

        <button id="BackButton" mat-raised-button (click)="Back()">Dashboard</button>
    </mat-card>
</div>
