<button (click)="add()" >Add user</button>
<div class="Techlist">
    <mat-grid-list cols="5" rowHeight="50px">
        <ng-container *ngFor="let user of users; index as i">
            <mat-grid-tile>{{user.name}}</mat-grid-tile>
            <mat-grid-tile>{{user.idCard}}</mat-grid-tile>
            <mat-grid-tile>{{user.role}}</mat-grid-tile>
            <mat-grid-tile><button (click)="userDetails( user.idCard )">user Details</button></mat-grid-tile>
            <mat-grid-tile><button (click)="Delete( user.idCard )">Remove user</button></mat-grid-tile>
        </ng-container>
    </mat-grid-list>
</div>
<button (click)="Dashboard()">Back to Dashboard</button>