<form id="query">

    <mat-form-field appearance="fill">
        <mat-label>Obter testes por ID de utilizador</mat-label>
        <input matInput [(ngModel)]="userid" name="userid" placeholder="userid" required>
    </mat-form-field>

    <button type="submit" form="query" value="Submit" (click)="getUserTests()">Submit</button>

</form>

<div class="list">
    <mat-grid-list cols="4" rowHeight="50px">
        <ng-container *ngFor="let covtest of covtests; index as i">
            <mat-grid-tile>{{covtest.code}}</mat-grid-tile>
            <mat-grid-tile><button>Test Details</button></mat-grid-tile>
            <mat-grid-tile><button>Remove Test</button></mat-grid-tile>
            <mat-grid-tile type="date">{{ covtest.schedule | date :  "dd/MM/y"}}</mat-grid-tile>
        </ng-container>
    </mat-grid-list>
</div>